.addingMechanism{display: block;margin: auto;width: 60%;}
.addingMechanism h5{text-align: center;height: 36px;line-height: 36px;}
.addingMechanism span{font-size: 14px;color: #939393;}
.addingMechanism >div{margin-top: 20px;}
.orgBtn{text-align: center;}
.orgBtn >a{margin: 0 20px;}
.countPopup{background: #fff;position: fixed;left: 50%;padding: 0 30px;
    top:50%;width: 240px;height: 160px;margin-left: -150px;margin-top: -80px;display: none;}
.countPopup h5{font-size: 16px;text-align: center;height: 36px;line-height: 36px;}
.countPopupBtn{text-align: center;margin-top: 10px;}
.countPopupBtn >a{margin: 0 10px;}
.createCount p{font-size: 14px;color: #333;height: 40px;line-height: 40px;}
.createCount{height: 90px;}
.sureCount>span{color: #ff0000;margin-left: 60px;display: inline-block;height: 36px;line-height: 36px;font-size: 12px;}
.editCount>p{height: 36px;line-height: 36px;}
.iconBtn{display: inline-block;width: 17px;height: 22px;border: 1px solid #aeaeae;line-height: 22px;text-align: center;
    cursor: default;}
.systemLabel{display: inline-block;width: 80px;height: 30px;border: 1px solid #aeaeae;font-size: 12px;line-height: 30px;
    text-align: center;cursor: default;}
.mechanismName{background: url("../../images/institution/xing.png") no-repeat left center;padding-left: 6px;}
.deleteBtn,.deleteCustomLabel,.deletespecialService{position: absolute;font-size: 12px;color: #ff0000;right: 0;top: -12px;}
.systemBtn,.customLabel,.specialService{position: relative;}
#listMachine>div{margin-bottom: 5px;}
.iconList{display: none;padding: 0 30px;width: 940px;height: 400px;float: right;margin-right: 300px;margin-top: 50px;background: #fafafa;}
.iconListImg{margin: 10px;width: 40px;height: 40px;}
.uploadImg{margin: 10px;display: inline-block;width: 40px;height: 40px;overflow: hidden;font-size: 30px;color: #000;
line-height: 40px;text-decoration: none;text-align: center;position: relative;background: #ddd;}
.uploadImg:hover{text-decoration: none;color: #000;}
.uploadImg input{position: absolute;left: 0;top: 0;width: 100%;height: 100%;opacity: 0;}
.iconPic{width: 40px;height: 40px;}
.specialService img{border-radius: 20px; }
.specialService{margin-right: 20px;margin-bottom: 10px;display: inline-block;}
.deletespecialService{top: -7px;right: -5px;}
.chooseImg{width: 60px;height: 20px;position: relative;display: inline-block;border: 1px solid #e4ecf3;border-radius: 3px;line-height: 20px;
text-align: center;margin-top: 10px;}
.chooseImg input{width: 60px;height: 20px;position: absolute;left: 0;top: 0;opacity: 0;}

@media screen and (max-width: 1900px) {
    .iconList{margin-right: -20px;}
}

