.heading h2.active,.heading span.active{color: #ff9900 !important;}
.courseOnLine{display: none;}
.chooseBtn{margin: 30px 50px;}
.addClassPopup{width: 920px;height: 460px;position: fixed;left: 50%;top: 50%;margin-left: -460px;margin-top: -230px;
background: #fff;display: none;overflow-y: auto;}
.addClassPopup h5{text-align: center;height: 60px;line-height: 60px;font-size: 16px;border-bottom: 1px solid #f6f6f6;}
.addClassPopup h5 a{float: right;margin: 10px;}