body{min-width: 1366px;}
.evaTitle{font-size: 1.8rem;display: inline-block;margin-right: 50px;cursor: pointer;}
.heading >span.active{color: #ff9900;}
.curriculum{display: none;}
.right-side{width: 100%;}