#newCourse >div>span{width: 60px;text-align: right;display: inline-block;float: left;}
.addingMechanism{width: 80%;}
.mechanismName{background: url(../../images/institution/xing.png) no-repeat 0px center;}
/*.deleteBtn{position: static;}*/
.imgList li{margin-right: 40px !important;}
.imgList li img{width: 100% !important;}
#styleContainer{margin-left: 15px }
.deleteBtnStyle{margin-top: 23px !important;margin-right: 20px !important;}
.alterBtn {float: left;margin-top: 10px !important;margin-left: 20px !important;}
.addingMechanism img{width: 100%;height: 100%;}
.mienPopup label{font-size: 12px;}
@media screen and (max-width: 1900px){
    .imgList li{margin-right: 10px !important;}
}