.h5{display: inline-block;}
.merchant{float: right;font-size: 16px;color: #333;}
.merchant span{color: #fd3939;}
.marginTop10{margin-top: 10px;}
.addingMechanism{width: 590px;height: 540px;padding: 0 25px;position: fixed;background: #fff;left: 50%;
top: 50%;margin-left: -295px;margin-top: -270px;display: none;overflow-y: auto;}
.addingMechanism h5{text-align: center;height: 36px;line-height: 36px;}
.addingMechanism span{font-size: 14px;color: #939393;}
.addingMechanism >div{margin-top: 20px;}
.orgBtn{text-align: center;}
.orgBtn >a{margin: 0 20px;}
.countPopup{background: #fff;position: fixed;left: 50%;padding: 0 30px;
    top:50%;width: 240px;height: 160px;margin-left: -150px;margin-top: -80px;display: none;}
.countPopup h5{font-size: 16px;text-align: center;height: 36px;line-height: 36px;}
.countPopupBtn{text-align: center;margin-top: 10px;}
.countPopupBtn >a{margin: 0 10px;}
.createCount p{font-size: 14px;color: #333;height: 40px;line-height: 40px;}
.createCount{height: 90px;}
.sureCount>span{color: #ff0000;margin-left: 60px;display: inline-block;height: 36px;line-height: 36px;font-size: 12px;}
.editCount>p{height: 36px;line-height: 36px;}
.iconBtn{display: inline-block;width: 17px;height: 22px;border: 1px solid #aeaeae;line-height: 22px;text-align: center;
cursor: default;}
.systemLabel{display: inline-block;width: 80px;height: 30px;border: 1px solid #aeaeae;font-size: 12px;line-height: 30px;
    text-align: center;cursor: default;}
.mechanismName{background: url("../../images/institution/xing.png") no-repeat left center;padding-left: 6px;}
.deleteBtn{position: absolute;font-size: 12px;color: #ff0000;right: 0;top: -12px;}
.systemBtn{position: relative;}
#listMachine>div{margin-bottom: 5px;}