body{font-family: 'Microsoft Yahei', STHeiti, sans-serif;}
/*宸蹭笂鏋惰绋*/
.shelvesIcon{width: 20px;height: 20px;}
/*缂栬緫涓婃灦璇剧▼*/
.informationEditHeader{width: 100%;height: 210px;}
.informationEditImg{position: relative;}
.informationEditImg,.informationEditDetail{display: inline-block;float: left;}
.informationEditImg >img{width: 200px;height: 200px;border-radius: 3px;}
.informationEditChoose{text-align: center;position: absolute; left: 50%;top: 50%;height: 20px;width: 50px;margin-left: -25px;margin-top: -10px; }
.informationEditChoose>a{font-size: 12px;line-height: 20px;background: grey;position: absolute;left: 0;display: inline-block;width: 50px;
    height: 20px;color: #fff;border-radius: 3px;text-decoration: none;cursor: pointer;}
.informationEditChoose a>input{width: 50px;height: 20px;opacity: 0;position: absolute;left: 0;cursor: pointer;z-index: 1;}
.informationEditDetail{border-radius: 3px;position: relative;margin-left: 100px;width: 400px;height: 200px;background: #f7f7f7;}
.informationEditDetail label{display: inline-block;}
.courseDetail{position: absolute;right: 5px;bottom: 5px;}
.informationEditDetail li{height: 40px;line-height: 30px;padding-left: 5px;font-size: 14px;color: #999;}
.courseList{border-radius: 3px;background: #f7f7f7;width: 100%;height: 150px;border: 1px solid #e4e4e4;}
.courseList >li{margin: 5px;}
.classification>li{display: inline-block;margin: 10px 25px 30px 0;width: 20%;}
.screeningConditions>li,.screeningConditions>li label{display: inline-block;}
.screeningConditions>li{margin-right: 35px;margin-bottom: 20px;}
.screeningConditions input{border: 1px solid #ebebeb;}
.submitCourse{margin: 5px;text-align: center;}
.submitCourse button{margin: 10px;}
.classification label{display: inline-block;}
/*鎵归噺棣栭〉鎺ㄨ崘*/
.recommendationNum{width: 15px;height: 12px;}
/*寮瑰嚭妗*/
.popupContainer,.popupContainerEdit,.popupContainerRecommendation{box-shadow: 0 10px 10px 5px;padding: 10px 20px;border-radius: 3px;display: none;z-index: 100;position: fixed;
    left: 50%;top: 10%;width: 800px;margin-left: -400px;background: #fff;height: 530px;}
.popupOpacity{display: none;position: fixed;left: 0;top: 0;height: 100%;width: 100%;background: rgba(0,0,0,.6);}
.closePopupContainer{position: absolute;right: -10px;top: -10px;display: inline-block;height: 20px;width: 20px;color: #fff;
border-radius: 10px;background: #1a91a3;text-align: center;line-height: 16px;font-size: 18px;font-weight: bold;cursor: pointer;}
input[disabled]{cursor: not-allowed;}
.recommendationSection .active,.recommendationSection a:hover{background: #1ca983;color: #fff;}
#gradeList a,.recommendLocation,.orderRecommend{margin: 10px;}
.uploadRecommend{text-align: center;}
.batchRelease{margin-top: 10px;text-align:right;padding:0 10px;display: inline-block;margin-left: 74%;}
.alreadyCourse{padding: 0 !important;}
.popupContainerRecommendation{height: 300px;top: 25%;}
.sureBatchRecommendation{text-align: center;margin-top: 50px;}
.recommendBatchRecommendation{margin-top: 30px;}
.informationEditImg{width: 200px;height: 200px;}
.overflowHide{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.fromIconPc{display: inline-block;width: 30px;height: 30px;background: url("../images/fromPc.png") no-repeat center;position: absolute;right: 5px;top: 5px;z-index: 50;background-size:100%;}
.fromIconPhone{display: inline-block;width: 30px;height: 30px;background: url("../images/fromPhone.png") no-repeat center;position: absolute;right: 5px;top: 5px;z-index: 50;background-size:60%;}
.btn-ico {width: 20px;height: 20px;cursor: pointer;background: #16d874;display: inline-block;
    border-radius: 10px;text-align: center;line-height: 20px;color: #fff;margin-left: 5px;}
.btn-ico.btn-cha{background: #e45200;}
i{font-style: normal}
.pageRecommendtionBg{background: #f6f6f6;}
.noticePopup h5{height: 80px;line-height: 80px;}
.noticeArea{width: 98%;height: 230px;margin-bottom: 20px;}
.noticePopup li{display: inline-block;margin-right: 10px;margin-bottom: 20px;}
.noticePopupBtn {text-align: center;}
.noticePopupBtn button{margin: 40px 30px;}
.checkOutData{float: right;}
.createNoticeBtn li{display: inline-block;}
.numPerson{margin-left: 20px;}
.btn-send{margin: 20px;}
.chooseBtn button{margin-right: 50px;}
.labelContent li{display: inline-block;margin: 20px;position: relative;}
.labelSaveBtn{height: 60px;line-height: 60px;text-align: center;}
.labelSaveBtn button{margin: 30px;}
.labelContent li img{position: absolute;bottom: 1px;right: 2px;z-index: 100;}
.labelInput{width: 40px;height: 24px;font-size: 14px;border-radius: 3px;}
.labelContent li.labelInputContent{display: none;}
.integralH5{display: inline-block;}
.integralHeading>span{font-size: 16px;margin-right:20px;color: #00a0e9; }
.integraBtn{text-align: right;width: 100%;height: 60px;}
.integraBtn button{margin: 30px;}
.changeIntegral{margin: 30px 0;}
.changeIntegral input{width: 60px;margin-right: 20px;}
.changeIntegral select{margin-right: 20px;}
.articlesList{padding-left: 100px;}
.articlesList span{margin-left: -100px;}
.articlesList button{margin-bottom: 10px; }
.articleNew{display: none;}
#email_ckecktor{padding-left: 100px;margin-bottom: 20px;}
.tableRule input{text-align: center;border-color: #f6f6f6;background: #f6f6f6;}
.tableRule input.active{border-color: #c4c4c4;background: #fff;}
.btnscon .clear{display: none;}
.putQuestionRight{width: 20%;float: left;margin-left: 50px;}
.questionList li{border-bottom: 1px solid #c4c4c4;}
.findQuestion{padding-left: 100px;}
.findQuestion span{font-size: 16px;margin-right: 10px;}
.findQuestion .inputQuestion{width: 85%;font-size: 14px;color: #666;height: 28px;line-height: 28px;}
.findQuestion>div{margin: 20px;}
.putQuestion{text-align: center;}
.putQuestion button{margin: 50px;}
.PointsReward{width: 80%;font-size: 14px;color: #666;}
.questionList li{height: 40px;line-height: 40px;padding-left: 20px;}
.questionList li a{font-size: 14px;color: #666;}
.forbidQuestion h4{height: 60px;line-height: 60px;}
.forbidQuestion li{height: 50px;font-size: 12px;color: #96958e;}
.customTag{width: 60px;height: 20px;color: #666;}
.checkBoxBtn button{margin-bottom: 10px;}
#editor{width: 86%;height: 400px;position: absolute;left: 50px;top: 0;}
#edit{margin: 0 !important;}
.froala-element{height: 300px;}
.contentBox{position: relative;height: 400px;}
.labelInputContent,.labelAddContent{display: inline-block;}
.putQuestionContent{display: inline-block;}
.labelInputContent{display: none;}
.PointsReward{height: 28px;line-height: 28px;}
.comQuestionPut{position: absolute;right: 130px;}
.comQuestionLabel{position: absolute;right: 10px;}
#zdyBtn button{margin-right: 10px;}
#zdyBtn{display: inline-block;}
.tableRule button{margin-right: 1px;}
.bannerButton{display: inline-block;position: absolute;right: 10px;top: 10px;}
.bannerImg{width: 600px;height: 400px;margin-left: 50px;}
.changeBanner{display: inline-block;width: 80px;height: 40px;line-height: 40px;background: #fff;
position: relative;text-align: center;color: #aeaeae !important;font-size: 16px;text-decoration: none !important;
cursor: pointer;border: 1px solid #c4c4c4;margin-left: 153px;margin-top: 20px;}
.changeBanner input{position: absolute;left: 0;top: 0;opacity: 0;width: 80px;height: 40px;cursor: pointer;}
.bannerInput{width: 364px;height: 36px;border: 1px solid #abadb3;margin-left: 100px;}
.bannerBtnGroup button{margin: 10px;}
.plContent textarea{width: 95%;height: 90px;}
.anExpressBut{margin-right: 3.2%;}
.bannerImg{margin-left: 30px;}