<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.auth.mapper.app.SysDictAppMapper">
	<resultMap type="com.yuxin.wx.model.app.SysDictApp" id="sysDictAppResultMap">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="level" column="level" />
		<result property="code" column="code" />
		<result property="type" column="type" />
		<result property="parentId" column="parent_id" />
		<result property="parentCode" column="parent_code" />
		<result property="sort" column="sort" />
	</resultMap>
	
	<select id="findSysDictAppByParentId"  parameterType="com.yuxin.wx.model.app.SysDictApp" resultMap="sysDictAppResultMap" >
		select id,name,level,parent_id,sort,code,type,parent_code
		from sys_dict_app
		where 1 = 1
		<choose>
			<when test="parentId ==null or parentId ==''">and parent_id is null </when>
			<when test="parentId !=null and parentId !=''">and parent_id = #{parentId}</when>
		</choose>
		<if test="type !=null and type !=''">
			and type ='TUIJIAN'
		</if>
		ORDER BY sort
	</select>

	<!--<select id="findSysDictAppFirst"  parameterType="Integer" resultMap="sysDictAppResultMap" >
		select id,name,level,parent_id,sort,code,type,parent_code
		from sys_dict_app
		where parent_id IS NULL
		ORDER BY sort
	</select>-->
	
	<sql id="table_columns">
		id,
		name,
		level,
		code,
		type,
		parent_id,
		parent_code,
		sort
    </sql>
	<sql id="entity_properties">
		#{id},
		#{name},
		#{level},
		#{code},
		#{type},
		#{parentId},
		#{parentCode},
		#{sort}
	</sql>
	
	<sql id="batch_entity_properties">
		#{item.id},
		#{item.name},
		#{item.level},
		#{item.code},
		#{item.type},
		#{item.parentId},
		#{item.parentCode},
		#{item.sort},
	</sql>


	<select id="getStudySectionById" parameterType="Integer" resultMap="sysDictAppResultMap" >
		select * from sys_dict_app where parent_id = #{modelId}
	</select>
	
	<select id="findSysDictAppByCode" parameterType="map" resultMap="sysDictAppResultMap" >
		select * from sys_dict_app where type=#{code}
	</select>

	<select id="getModelById" parameterType="Integer" resultType="String" >
		select name from sys_dict_app where  id = #{modelId}
	</select>

	<!--查询appTags列表-->
	<select id="queryAppTagList" parameterType="Integer" resultType="com.yuxin.wx.model.app.AppTagVo" >
		select type,name,is_open as isOpen from sys_config_app_set
	</select>
</mapper>