.dynamicList li{display: inline-block;font-size: 14px;color: #666;height: 28px;}
.dashed{border-bottom: 1px dashed #666;width: 300px;height: 1px;display: inline-block;position: absolute;
bottom: 5px;left: 0;}
.dashedLi{position: relative;width: 300px;}
.dynamicBtn{margin-left: 40px;}
.dynamicList{width: 825px;margin: 0 20px;}
.opacityPopup{display: none;width: 100%;height: 100%;position: fixed;top: 0;left: 0;background: rgba(0,0,0,.5);}
.addNews{display: none;width: 480px;height: 464px;background: #fff;border: 1px solid #333;position: fixed;left: 50%;top: 50%;
margin-left: -240px;margin-top: -232px;font-size: 14px;color: #666;padding: 0 26px;}
.addNews h5{height: 36px;line-height: 36px;text-align: center;font-size: 16px;color: #666;}
.addNews label{display: inline-block;margin-left: 10px;float: left;}
.addNews input{width: 350px;font-size: 14px;color: #666;}
.addNews textarea{width: 350px;height: 300px;font-size: 14px;color: #666;}
.addNewsBtn{text-align: center;}
.addNewsBtn a{margin: 15px 30px;}
.addNewsTitle{margin-bottom: 10px;}
.contentCheck{width: 350px;height: 300px;display: inline-block;}
.addNewDynamic{float: right;}
.heading >h2{display: inline-block;margin-bottom: 10px;}
.dynamicList li:first-child{width: 175px;text-align: right;}
.change{margin: 0 5px;}