.mienContent{width: 960px;height: 480px;margin: auto;}
.addImg{margin-right: 20px;float: left;display: inline-block;width: 190px;height: 190px;line-height: 190px;background: #fff;text-align: center;}
.addImg i{font-size: 60px;color: #666;}
.imgList li{float: left;cursor: pointer;position: relative;margin-right: 40px;margin-top: 40px;width: 190px;height: 190px;border: 1px solid #bcbcbc;display: inline-block;}
.imgList li img{position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}
.imgList {display: inline-block;float: left;text-align: center;}
.imgList ul{padding: 0 30px;}
.noMargin{margin-right: 0 !important;}
.listBg{display: none;width: 192px;text-align: center;height: 38px;line-height: 38px;background: #fff;position: absolute;
    bottom: -1px;left: -1px;}
.imgList a{padding: 5px 10px !important;margin: 0 2px;}
a.rightShow{position: absolute;right: 0;top: 0;margin: 0;}
.coverChange{left: 22px;}
.coverAdd{right: 22px;}
.imgInfo{position: absolute;left: -1px;bottom: 37px;color: #101010;padding-left: 2px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;width: 100%;display: inline-block;text-align: center;background: #e4e4e4;}
.opacityPopup{display: none;width: 100%;height: 100%;position: fixed;top: 0;left: 0;background: rgba(0,0,0,.5);}
.mienPopup{display: none;width: 740px;height: 440px;position: fixed;left: 50%;top: 50%;margin-left: -400px;margin-top: -250px;
    background: #fff;padding: 20px 30px 0;}
.mienBtn{position: absolute;bottom: 20px;left: 0;text-align: center;width: 100% !important;}
.mienBtn a{margin: 0 60px;}
.mienPopup>div{display: inline-block;width: 40%;float: left;}
.uploadImage img{width: 300px;height: 300px;}
.imgDescripe textarea{width: 300px;height: 290px;}
.imgDescripe{margin-left: 20px;}
.uploadImage> a{margin-top: 5px;}
.mienPopup label{font-size: 16px;color: #666;}
.imgInfo{display: none;}
.coverPopup{width: 400px;margin-left: -200px;}
.coverPopup .uploadImage{width: 100%;}
#styleBtn{width: 10%;margin-left: 30px;}
#styleBtn a{margin: 10px 0;}
#styleBtn a:first-child{margin-top: 130px;}