.opacityPopup{display: none;width: 100%;height: 100%;position: fixed;left: 0;top: 0;background: rgba(0,0,0,.5);}
.confirmPopup{display: none;position: fixed;left: 50%;top: 50%;width: 244px;height: 100px;border-radius: 3px;
    margin-left: -122px;margin-top: -50px;z-index: 100;background: #fff;border: 1px solid #797979;}
.confirmPopup div{height: 60px;line-height: 60px;text-align: center;border-bottom: 1px solid #797979;}
.confirmPopup a{display: inline-block;width: 49%;text-align: center;height: 40px;line-height: 40px;}
.confirmPopup a.cancel{border-right:1px solid #797979;}
.reason{display: none;position: fixed;background: #fff;left: 50%;top: 50%;width: 446px;height: 450px;
    margin-left: -243px;margin-top: -250px;border: 1px solid #797979;padding: 0 20px;}
.reason h5{height: 40px;line-height: 40px;text-align: center;color: #333;font-size: 16px;}
.reason li{line-height: 28px;}
.reason input{margin-top: -2px;vertical-align: middle;margin-right: 2px;}
.descriptWord{width: 420px;height: 140px;resize: none;}
.btnGroup{height: 56px;line-height: 56px;text-align: center;}
.btnGroup a{margin: 0 30px;}

.studentDetails ul{display: inline-block;width: 49%;float: left;color: #a1a1a1;font-size: 12px;margin-bottom: 40px;}
.studentDetails img{width: 74px;height: 66px;}
.studentDetails ul li{line-height: 40px;}
.infoBox1{height: 300px;}
.infoBox2{height: auto;}
.infoBox3{height: auto;}
.infoBox4{height: auto;}
.infoBox5{height: 150px;text-align: center;line-height: 150px;width: 100%;display: inline-block;}
.infoBox5 a{margin: 0 30px;}
#bigImage{position: absolute;left: 50%;top: 50%;width: 500px;margin-left: -250px;display: none;height: 500px;
margin-top: -250px;text-align: center;}
body{min-width: 1366px;}
