<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.company.mapper.NoticeTemplatMapper">
	<resultMap type="com.yuxin.wx.model.company.NoticeTemplatVo" id="noticeTemplateResultMap">
		<result property="noticeCode" column="notice_code" />
		<result property="noticeTopic" column="notice_topic" />
		<result property="publishTime" column="publish_time" />
		<result property="noticeContent" column="notice_content" />
		<result property="noticeStatus" column="notice_status" />
		<result property="noticeUrl" column="notice_url" />
	</resultMap>


	<select id="queryAllNoticeTemplateList" parameterType="map" resultMap="noticeTemplateResultMap">
		select * from sys_notice_template_app
	</select>
</mapper>