<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.institution.mapper.InsFeaturesMapper">

    <resultMap type="com.yuxin.wx.model.institution.InsFeaturesVo" id="insFeaturesMap">
        <result property="id" column="id" />
        <result property="imgUrl" column="img_url" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="table_columns">
        id,
        img_url,
        img_type,
        create_time,
        update_time
    </sql>

    <sql id="entity_properties">
        #{id},
        #{imgUrl},
        #{imgType},
        #{createTime},
        #{updateTime}
    </sql>

    <insert id="insert" parameterType="com.yuxin.wx.model.institution.InsFeaturesVo" useGeneratedKeys="true" keyProperty="id">
        insert into ins_features( <include refid="table_columns" /> )
        values ( <include refid="entity_properties" /> )
    </insert>

    <select id="findInsFeaturesVos" parameterType="com.yuxin.wx.model.institution.InsFeaturesVo" resultMap="insFeaturesMap">
        select * from ins_features ORDER BY id desc limit #{page}, #{pageSize}
    </select>

    <select id="findInsFeaturesVosCount" parameterType="com.yuxin.wx.model.institution.InsFeaturesVo" resultType="int">
        select count(id) from ins_features
    </select>

</mapper>