<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.institution.mapper.InstitutionCategoryManageMapper">

    <resultMap id="queryCateData" type="com.yuxin.wx.model.institution.InstitutionCategoryVo">
        <result property="id" column="id" />
        <result property="codeName" column="code_name" />
        <result property="isEnable" column="is_enable" />
        <result property="secondCate" column="secondCate" />
        <result property="imgUrl" column="img_url" />
        <result property="codeLevel" column="code_level" />
    </resultMap>


    <resultMap id="queryInsCategory" type="com.yuxin.wx.model.institution.InstitutionCategoryVo">
        <result property="insId" column="insId" />
        <result property="firstcodeName" column="firstcodeName" />
        <result property="secondcodeName" column="secondcodeName" />
        <result property="oneLevelId" column="oneLevelId" />
        <result property="twoLevelId" column="twoLevelId" />
    </resultMap>

    <!--查询所有1.2级分类-->
    <select id="queryInstitutionCategorys" resultType="com.yuxin.wx.model.institution.InstitutionCategoryVo" parameterType="map">
        select
          ic1.id,
          ic1.code_name ,
          ic1.is_enable ,
          GROUP_CONCAT(CONCAT(ic2.id,'@',ic2.code_name)) as secondCate
        from institution_category ic1
        left join institution_category ic2 on ic1.id=ic2.parent_id
        where ic1.code_level=1
        GROUP BY ic1.id
        ORDER BY ic1.id
    </select>

    <!--根据条件查询分类-->
    <select id="queryInstitutionByCondition" resultType="com.yuxin.wx.model.institution.InstitutionCategoryVo" parameterType="map">
       select
        id,
        code_name,
        is_enable,
        img_url,
        code_level
       from institution_category where id=#{id} limit 1
    </select>
    <!--修改分类信息-->
    <update id="update" parameterType="com.yuxin.wx.model.institution.InstitutionCategoryVo">
        update institution_category
        <trim prefix="set" suffixOverrides=",">
            <if test="codeName != null and codeName != ''">code_name = #{codeName},</if>
            <if test="isEnable != null and isEnable != ''">is_enable = #{isEnable},</if>
            <if test="imgUrl != null and imgUrl != ''">img_url = #{imgUrl},</if>
            <if test="firstRecommend != null and firstRecommend != ''">first_recommend = #{firstRecommend},</if>
            <if test="secondRecommend != null and secondRecommend != ''">second_recommend = #{secondRecommend},</if>
            <if test="thirdRecommend != null and thirdRecommend != ''">third_recommend = #{thirdRecommend},</if>
            update_time=now(),
        </trim>
        <where>id = #{id}</where>
    </update>
    <!--保存分类信息-->
    <insert id="insert" parameterType="com.yuxin.wx.model.institution.InstitutionCategoryVo">
        INSERT INTO institution_category
        (code_name,code_level,code_type,img_url,is_enable, parent_id,create_time, update_time)
        VALUES (#{codeName},#{codeLevel},#{codeType}, #{imgUrl}, 0, #{parentId}, now(),now())
    </insert>

    <select id="findFistCategorys" resultMap="queryCateData"  parameterType="map">
        select id, code_name from institution_category where code_level = 1 and code_type = 0
    </select>

    <select id="findCecondCategorys" resultMap="queryCateData"  parameterType="Integer">
        select id, code_name from institution_category where code_level = 2 and code_type = 0 and parent_id = #{id}
    </select>

    <select id="queryInstitutionCategorysByInsId" parameterType="Integer" resultMap="queryInsCategory">
        select ii.id insId,ic.id oneLevelId,ic1.id twoLevelId ,ic.code_name firstcodeName,ic1.code_name secondcodeName from institution_info ii
        join institution_relation ir on ii.id=ir.ins_id
        left join institution_category ic on ic.id = ir.one_level_id
        left JOIN institution_category ic1 on ic1.id = ir.two_level_id
        where ii.id=#{id}
    </select>

</mapper>