<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.institution.mapper.InstitutionRelationMapper">

    <sql id="table_columns">
        id,
        ins_id,
        one_level_id,
        two_level_id
    </sql>

    <sql id="entity_properties">
        #{id},
        #{insId},
        #{oneLevelId},
        #{twoLevelId}
    </sql>

    <insert id="insert" parameterType="com.yuxin.wx.model.institution.InstitutionRelationVo" useGeneratedKeys="true" keyProperty="id">
        insert into institution_relation( <include refid="table_columns" /> )
        values ( <include refid="entity_properties" /> )
    </insert>

    <delete id="delete" parameterType="Integer">
        delete from institution_relation where ins_id = #{id}
    </delete>

</mapper>