<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.institution.mapper.InstitutionRelationMapper">

    <sql id="table_columns">
        id,
        ins_id,
        one_level_id,
        two_level_id,
        sort,
        is_recommend
    </sql>

    <sql id="entity_properties">
        #{id},
        #{insId},
        #{oneLevelId},
        #{twoLevelId},
        #{sort},
        #{isRecommend}
    </sql>

    <insert id="insert" parameterType="com.yuxin.wx.model.institution.InstitutionRelationVo" useGeneratedKeys="true" keyProperty="id">
        insert into institution_relation( <include refid="table_columns" /> )
        values ( <include refid="entity_properties" /> )
    </insert>

    <delete id="delete" parameterType="Integer">
        delete from institution_relation where id = #{id}
    </delete>

    <delete id="deleteByInsIdOneIdTwoId" parameterType="Integer">
        delete from institution_relation where ins_id = #{insId} and one_level_id = #{oneLevelId} and two_level_id = #{twoLevelId}
    </delete>

    <update id="update" parameterType="com.yuxin.wx.model.institution.InstitutionRelationVo">
        update institution_relation
        <trim prefix="set" suffixOverrides=",">
            <if test="isRecommend != null">is_recommend = #{isRecommend},</if>
        </trim>
        <where>ins_id = #{insId}</where>

    </update>


    <select id="findByinsIdOneIdTwoId" parameterType="com.yuxin.wx.model.institution.InstitutionRelationVo" resultType="com.yuxin.wx.model.institution.InstitutionRelationVo">
        select id,ins_id insId, one_level_id oneLevelId , two_level_id twoLevelId,sort,is_recommend isRecommend from institution_relation where ins_id = #{insId} and one_level_id = #{oneLevelId} and two_level_id = #{twoLevelId}
    </select>

    <select id="findByinsId" parameterType="Integer" resultType="com.yuxin.wx.model.institution.InstitutionRelationVo">
        select id,ins_id insId, one_level_id oneLevelId , two_level_id twoLevelId,sort,is_recommend isRecommend from institution_relation where ins_id = #{insId}
    </select>

</mapper>