<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.institution.mapper.InstitutionLabelMapper">

    <resultMap type="com.yuxin.wx.model.institution.InstitutionLabelVo" id="institutionLabelMap">
        <result property="id" column="id" />
        <result property="relationId" column="relation_id" />
        <result property="labelName" column="label_name" />
        <result property="imgUrl" column="img_url" />
        <result property="labelType" column="label_type" />
        <result property="sourceFlag" column="source_flag" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="table_columns">
        id,
        relation_id,
        label_name,
        img_url,
        label_type,
        source_flag,
        create_time,
        update_time
    </sql>

    <sql id="entity_properties">
        #{id},
        #{relationId},
        #{labelName},
        #{imgUrl},
        #{labelType},
        #{sourceFlag},
        #{createTime},
        #{updateTime}
    </sql>

    <insert id="insert" parameterType="com.yuxin.wx.model.institution.InstitutionLabelVo" useGeneratedKeys="true" keyProperty="id">
        insert into institution_label( <include refid="table_columns" /> )
        values ( <include refid="entity_properties" /> )
    </insert>

    <update id="update" parameterType="com.yuxin.wx.model.institution.InstitutionLabelVo">
        update institution_label
        <trim prefix="set" suffixOverrides=",">
            <if test="relationId != null and relationId != ''">relation_id = #{relationId},</if>
            <if test="labelName != null and labelName != ''">label_name = #{labelName},</if>
            <if test="imgUrl != null and imgUrl != ''">img_url = #{imgUrl},</if>
            <if test="labelType != null and labelType != ''">label_type = #{labelType},</if>
            <if test="sourceFlag != null and sourceFlag != ''">source_flag = #{sourceFlag},</if>
            <if test="createTime != null and createTime != ''">create_time = #{createTime},</if>
            <if test="updateTime != null and updateTime != ''">update_time = #{updateTime},</if>
        </trim>
        <where>id = #{id}</where>
    </update>

    <delete id="delete" parameterType="Integer">
        delete from institution_label
		where id = #{id}
    </delete>

    <delete id="deleteByInsId" parameterType="Integer">
        delete from institution_label
		where source_flag = 0 and relation_id = #{id}
    </delete>

    <select id="findSysLabelByInsId" parameterType="Integer" resultMap="institutionLabelMap">
      select * from institution_label where label_type=0 and source_flag = 0 and relation_id = #{id} order by id asc
    </select>

    <!-- 根据机构id获取自定义标签列表 -->
    <select id="findTeacherLabelByInsId" parameterType="Integer" resultMap="institutionLabelMap">
        SELECT
          il.*
        FROM
          institution_label il
          INNER JOIN `institution_teacher` it
            ON il.`relation_id` = it.`id`
          INNER JOIN `ins_teacher_relation` itr
            ON it.id = itr.teacher_id
          INNER JOIN `institution_info` info
            ON info.`id` = itr.`ins_id`
        WHERE label_type = 1
          AND source_flag = 2
          AND info.`id` = #{id}
          ORDER BY il.`create_time` desc,
          il.id desc
    </select>

    <select id="findTeacherLabelByTeacherId" parameterType="Integer" resultMap="institutionLabelMap">
        SELECT
          il.*
        FROM
          institution_label il
          INNER JOIN `institution_teacher` it
            ON il.`relation_id` = it.`id`
          INNER JOIN `ins_teacher_relation` itr
            ON it.id = itr.teacher_id
          INNER JOIN `institution_info` info
            ON info.`id` = itr.`ins_id`
        WHERE label_type = 1
          AND source_flag = 2
          AND il.`relation_id` = #{id}
    </select>


    <!-- 根据名师id获取自定义标签列表 -->
    <select id="getTeacherLabelsByTeacherId" parameterType="Integer" resultMap="institutionLabelMap">
        select * from institution_label where label_type = 1 and source_flag = 2 and relation_id = #{id} ORDER BY `create_time` desc,id desc
    </select>



    <select id="findCustomLabelByInsId" parameterType="Integer" resultMap="institutionLabelMap">
      select * from institution_label where label_type=1 and source_flag = 0 and relation_id = #{id} order by id asc
    </select>

    <select id="findSpecialServiceByInsId" parameterType="Integer" resultMap="institutionLabelMap">
      select * from institution_label where label_type=2 and source_flag = 0 and relation_id = #{id} order by id asc
    </select>

    <select id="findSpecialServiceByInsIdCount" parameterType="Integer" resultMap="institutionLabelMap">
        select count(1) from institution_label where label_type=2 and source_flag = 0 and relation_id = #{id}
    </select>


    <select id="findClassLabels" parameterType="Integer" resultMap="institutionLabelMap">
        select * from institution_label where label_type=1 and source_flag = 1 and relation_id = #{id} order by  `create_time` asc
    </select>


    <delete id="deleteInstitutionLabelById" parameterType="Integer" >
        DELETE FROM `institution_label` WHERE `id` = #{id}
    </delete>


</mapper>