<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.institution.mapper.MerchantEntryMapper">

	
	<select id="queryMerchantEntry" parameterType="com.yuxin.wx.model.institution.MerchantEntryVo" resultType="com.yuxin.wx.model.institution.MerchantEntryVo">
		SELECT me.id AS id,
			   me.ins_name AS insName,
			   me.mobile AS mobile,
			   me.deal_status AS dealStatus,
			   me.note AS note,
			   me.create_time AS createTime,
			   me.update_time AS updateTime 
		  FROM merchant_entry me
		 ORDER by me.deal_status ASC,me.create_time DESC
		 LIMIT #{firstIndex},#{pageSize}
	</select>
	
	<select id="merchantEntryCount" resultType="java.lang.Integer">
		SELECT count(1)
		  FROM merchant_entry me
		 ORDER by me.deal_status ASC,me.create_time DESC
	</select>
	
	<update id="updateMerchanrEntry" parameterType="com.yuxin.wx.model.institution.MerchantEntryVo">
		UPDATE merchant_entry
	    <trim prefix="set" suffixOverrides=",">
	   		<if test="dealStatus != null">deal_status = #{dealStatus},</if>
	   		<if test="note != null and note !=''">note = #{note},</if>
	   		<if test="updateTime != null">update_time = #{updateTime},</if>
	    </trim>
		<where>
		 id = #{id}
		</where>
	</update>
	
	<select id="dimMerchantEntry" parameterType="com.yuxin.wx.model.institution.DimQueryMerchantVo" resultType="com.yuxin.wx.model.institution.MerchantEntryVo">
		SELECT me.id AS id,
			   me.ins_name AS insName,
			   me.mobile AS mobile,
			   me.deal_status AS dealStatus,
			   me.note AS note,
			   me.create_time AS createTime,
			   me.update_time AS updateTime 
		  FROM merchant_entry me
		 WHERE 1=1
		  	<if test="dealStatus != null">and me.deal_status = #{dealStatus}</if>
		  	<if test="leftTime != null and leftTime !='' and (rightTime == null or rightTime == '')"><![CDATA[and DATE_FORMAT(me.create_time,"%Y-%m-%d") >= STR_TO_DATE(#{leftTime},"%Y-%m-%d")]]></if>
		  	<if test="leftTime != null and leftTime !='' and rightTime != null and rightTime !=''">and DATE_FORMAT(me.create_time,"%Y-%m-%d") BETWEEN STR_TO_DATE(#{leftTime},"%Y-%m-%d") and STR_TO_DATE(#{rightTime},"%Y-%m-%d")</if>
		  	<if test="(leftTime == null or leftTime =='') and rightTime != null and rightTime !=''">and DATE_FORMAT(me.create_time,"%Y-%m-%d") = STR_TO_DATE(#{rightTime},"%Y-%m-%d")</if>
		  	<if test="mobile != null and mobile != ''">and mobile = #{mobile}</if>
		  	<if test="insName != null and insName != ''">and ins_name like '%${insName}%'</if>
		 ORDER BY me.deal_status ASC,me.create_time DESC
		 LIMIT #{firstIndex},#{pageSize}
	</select>
	
	<select id="dimMerchantEntryCount" parameterType="com.yuxin.wx.model.institution.DimQueryMerchantVo" resultType="java.lang.Integer">
		SELECT count(1)
		  FROM merchant_entry me
		 WHERE 1=1
		  	<if test="dealStatus != null">and me.deal_status = #{dealStatus}</if>
		  	<if test="leftTime != null and leftTime !='' and (rightTime == null or rightTime == '')"><![CDATA[and DATE_FORMAT(me.create_time,"%Y-%m-%d") >= STR_TO_DATE(#{leftTime},"%Y-%m-%d")]]></if>
		  	<if test="leftTime != null and leftTime !='' and rightTime != null and rightTime !=''">and DATE_FORMAT(me.create_time,"%Y-%m-%d") BETWEEN STR_TO_DATE(#{leftTime},"%Y-%m-%d") and STR_TO_DATE(#{rightTime},"%Y-%m-%d")</if>
		  	<if test="(leftTime == null or leftTime =='') and rightTime != null and rightTime !=''">and DATE_FORMAT(me.create_time,"%Y-%m-%d") = STR_TO_DATE(#{rightTime},"%Y-%m-%d")</if>
		  	<if test="mobile != null and mobile != ''">and mobile like '%${mobile}%'</if>
		  	<if test="insName != null and insName != ''">and ins_name like '%${insName}%'</if>
		 ORDER BY me.deal_status ASC,me.create_time DESC
	</select>

	<select id="queryCount" resultType="Integer">
		select count(1) from merchant_entry where deal_status = 0
	</select>
	
	<update id="updateMerchanrEntryNote" parameterType="com.yuxin.wx.model.institution.MerchantEntryVo">
		UPDATE merchant_entry
	   	   SET note = #{note},
	   	       update_time = #{updateTime}
		 WHERE id = #{id}
	</update>
</mapper>