<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.riseschool.mapper.RiseStudentServiceFMapper">
	<resultMap type="com.yuxin.wx.model.riseschool.RiseStudentVo" id="riseStudentMap">
		<result property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="studentName" column="student_name" />
		<result property="sex" column="sex" />
		<result property="schoolName" column="school_name" />
		<result property="schoolTag" column="school_tag" />
		<result property="mobile" column="mobile" />
		<result property="birthday" column="birthday" />
		<result property="censusAddress" column="census_address" />
		<result property="censusDetAddress" column="census_det_address" />
		<result property="putTime" column="create_time" />
		<result property="isCheck" column="is_check" />
		<result property="studentNo" column="student_no" />
		<result property="schoolId" column="school_id" />
	</resultMap>

	
	<update id="passStudent" parameterType="map">
		update rise_signup_info set
		student_no = #{studentNo},update_time = NOW()
		where student_id = #{id} and school_id = #{schoolId}
	</update>
	
	<update id="updateIsCheck" parameterType="map">
		update rise_signup_info set
		is_check = 2,update_time = NOW(),student_no = #{studentNo}
		where student_id = #{id} and school_id = #{schoolId}
		and is_check = 1
	</update>
	
	<update id="updateIsCheckNoPass" parameterType="com.yuxin.wx.model.riseschool.RiseNopassReason">
		update rise_signup_info set
		is_check = 0,update_time = NOW(),no_pass_reason=#{reason}
		where student_id = #{id} and school_id = #{schoolId}
		and is_check = 1
	</update>
	
	<select id="queryAllStudent" resultMap="riseStudentMap" parameterType="com.yuxin.wx.model.riseschool.RiseStudentVo">
		SELECT 
		rs.id as id,
		rs.student_name as student_name,
		rs.sex as sex,
		rs.birthday as birthday,
		rs.census_address as census_address,
		rs.census_det_address as census_det_address,
		rsi.student_no as student_no,
		ree.school_name as school_tag,
		uf3.mobile as mobile,
		rsi.create_time as create_time,
		rsi.is_check as is_check,
		rsii.school_name as school_name,
		rsii.id as school_id
		from rise_student rs
		INNER JOIN users_front uf3 ON rs.user_id = uf3.id
		INNER JOIN rise_signup_info rsi ON rs.id = rsi.student_id
		INNER JOIN rise_school_info rsii ON rsi.school_id = rsii.id
		INNER JOIN rise_edu_experience ree ON uf3.id = ree.user_id and ree.is_graduate = 1
		where 1 = 1
		<if test="isCheck != null and isCheck != ''"> AND rsi.is_check = #{isCheck}</if>
		<if test="schoolName != null and schoolName != '' and schoolName != 0"> AND rsii.id = #{schoolName}</if>
		<if test="studentName != null and studentName != '' "> AND rs.student_name = #{studentName}</if>
		<if test="mobile != null and mobile != ''"> AND uf3.mobile = #{mobile}</if>
		<if test="studentNo != null and studentNo != ''"> AND rsi.student_no = #{studentNo}</if>
		<if test="schoolTag != null and schoolTag != ''"> AND ree.school_name LIKE "%${schoolTag}%"</if>
		<if test="startTime != null and startTime != '' and endTime == ''"><![CDATA[AND DATE_FORMAT(rsi.create_time,"%Y-%m-%d") >= STR_TO_DATE(#{startTime},"%Y-%m-%d")]]></if>
        <if test="endTime != null and endTime != '' and startTime == ''">AND DATE_FORMAT(rsi.create_time,"%Y-%m-%d") = STR_TO_DATE(#{endTime},"%Y-%m-%d")</if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">AND DATE_FORMAT(rsi.create_time,"%Y-%m-%d") BETWEEN STR_TO_DATE(#{startTime},"%Y-%m-%d") AND STR_TO_DATE(#{endTime},"%Y-%m-%d")</if>
		<if test="timeOrder == 1 ">ORDER BY create_time desc</if>
		<if test="timeOrder == 2 ">ORDER BY create_time</if>
        limit #{firstIndex},#{pageSize}
	</select>
	
	<select id="queryAllStudentCount" parameterType="com.yuxin.wx.model.riseschool.RiseStudentVo" resultType="Integer">
        SELECT 
		count(rs.id)
		from rise_student rs
		INNER JOIN users_front uf3 ON rs.user_id = uf3.id
		INNER JOIN rise_signup_info rsi ON rs.id = rsi.student_id
		INNER JOIN rise_school_info rsii ON rsi.school_id = rsii.id
		INNER JOIN rise_edu_experience ree ON uf3.id = ree.user_id and ree.is_graduate = 1
		where 1 = 1
		<if test="isCheck != null and isCheck != ''"> AND rsi.is_check = #{isCheck}</if>
		<if test="schoolName != null and schoolName != '' and schoolName != 0 "> AND rsii.id = #{schoolName}</if>
		<if test="studentName != null and studentName != ''"> AND rs.student_name = #{studentName}</if>
		<if test="mobile != null and mobile != ''"> AND uf3.mobile = #{mobile}</if>
		<if test="studentNo != null and studentNo != ''"> AND rs.student_no = #{studentNo}</if>
		<if test="schoolTag != null and schoolTag != ''"> AND ree.school_name LIKE "%${schoolTag}%"</if>
		<if test="startTime != null and startTime != '' and endTime == ''"><![CDATA[AND DATE_FORMAT(rsi.create_time,"%Y-%m-%d") >= STR_TO_DATE(#{startTime},"%Y-%m-%d")]]></if>
        <if test="endTime != null and endTime != '' and startTime == ''">AND DATE_FORMAT(rsi.create_time,"%Y-%m-%d") = STR_TO_DATE(#{endTime},"%Y-%m-%d")</if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">AND DATE_FORMAT(rsi.create_time,"%Y-%m-%d") BETWEEN STR_TO_DATE(#{startTime},"%Y-%m-%d") AND STR_TO_DATE(#{endTime},"%Y-%m-%d")</if>
    </select>
    
	<select id="queryAllSchool" resultType="com.yuxin.wx.model.riseschool.RiseSchoolManageVo">
        select distinct
        rs.id as id ,rs.school_name as schoolName 
        from rise_school_info rs
		INNER JOIN rise_signup_info rsi ON rs.id = rsi.school_id
		ORDER BY rs.create_time desc
    </select>
    
	<select id="findStudentGrade" resultType="String" parameterType="map">
       select max(tue.exercise_score)
		  from course_exercise ce
		  inner join tiku_user_exercise tue on ce.paper_id  = tue.exercise_id 
		  and tue.user_id = #{userId} 
		  and ce.class_type_id = #{classTypeId}
		  group by tue.exercise_id
    </select>
    
	<select id="passCount" resultType="Integer" parameterType="String">
       select count(id) from rise_signup_info
		where is_check = 2 and student_id = #{id}
    </select>
    
	<select id="findUserByStudentId" resultType="com.yuxin.wx.model.user.UsersFront" parameterType="Integer">
        SELECT uf.id as id,uf.username as username ,uf.mobile as mobile
		from users_front uf
		INNER JOIN rise_student rs ON uf.id = rs.user_id
		where rs.id = #{id}
    </select>
    
	<select id="getSchoolName" resultType="com.yuxin.wx.model.riseschool.RiseSchoolInfoVo" parameterType="Integer">
        select school_name as schoolName from rise_school_info
        where id = #{schoolId}
    </select>
    
	<select id="findStudentCount" resultType="String">
       SELECT
		student_no
		FROM
			rise_signup_info
		WHERE
			is_check = 2
		GROUP BY
			update_time DESC
		LIMIT 0,1
    </select>
    
	<select id="queryNoPass" resultType="com.yuxin.wx.model.riseschool.RiseNopassReason">
        select id as id,reason as reason from rise_nopass_reason
    </select>
    
	<select id="findSchoolNo" resultType="String" parameterType="String">
        select school_no from rise_school_info
        where id = #{schoolId}
    </select>
    
	<select id="findExperience" resultType="com.yuxin.wx.model.riseschool.RiseEduExperience" parameterType="Integer">
        select 
        srsd1.item_name as provinceName,
        srsd2.item_name as cityName,
        srsd3.item_name as districtName,
        ree.school_name as schoolName
        from rise_edu_experience ree
		LEFT JOIN sys_rise_school_dict srsd1 ON ree.province = srsd1.item_code
		LEFT JOIN sys_rise_school_dict srsd2 ON ree.city = srsd2.item_code
		LEFT JOIN sys_rise_school_dict srsd3 ON ree.district = srsd3.item_code
		where ree.user_id = #{userId}
		ORDER BY ree.is_graduate desc
    </select>
    
	<select id="findHonor" resultType="com.yuxin.wx.model.riseschool.RisePersonalHonor" parameterType="Integer">
        select 
        honor_content as honorContent 
        from rise_personal_honor 
		where user_id = #{userId}
    </select>
    
	<select id="findById" resultType="com.yuxin.wx.model.riseschool.RiseStudentVo" parameterType="Map">
       	select 
		rs.id as id,
		rs.student_name as studentName,
		rs.sex as sex,
		rs.birthday as birthday,
		rs.census_det_address as censusDetAddress,
		rs.student_no as studentNo,
		uf.mobile as mobile,
		rsi.is_check as isCheck,
		rs.id_no as idNo,
		rs.census_address as censusAddress,
		rs.census_url as censusUrl,
		rs.head_url as headUrl,
		rs.self_url as selfUrl,
		rs.curator as curator,
		rs.mobile as curatorMobile,
		rs.curator_relation as curatorRelation
		from rise_student rs
		INNER JOIN users_front uf ON rs.user_id = uf.id
		INNER JOIN rise_signup_info rsi ON rs.id = rsi.student_id
		where rs.id = #{id} and rsi.school_id = #{schoolId}
		<if test="isCheck != null and isCheck != ''" >AND rsi.is_check=#{isCheck}</if>
		LIMIT 0,1
    </select>

</mapper>