<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.riseschool.mapper.RiseSchoolManageMapper">
    <resultMap id="riseSchoolInfoMap" type="com.yuxin.wx.model.riseschool.RiseSchoolManageVo">
        <result property="id" column="id" />
        <result property="schoolName" column="school_name" />
        <result property="enrollmentType" column="enrollment_type" />
        <result property="provinceCode" column="province_code" />
        <result property="cityCode" column="city_code" />
        <result property="district" column="district" />
        <result property="isTop" column="is_top" />
        <result property="isShalve" column="is_shalve" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="detailAddress" column="detail_address" />
        <result property="schoolWeb" column="school_web" />
        <result property="schoolFax" column="school_fax" />
        <result property="busRoad" column="bus_road" />
        <result property="userId" column="user_id" />
    </resultMap>
    <sql id="table_columns">
        id,
        school_name,
        enrollment_type,
        province_code,
        city_code,
        district,
        is_top,
        is_shalve,
        create_time,
        update_time,
        detail_address,
        school_web,
        school_fax,
        bus_road,
        user_id
    </sql>
    <sql id="table_properties">
        #{id},
        #{schoolName},
        #{enrollmentType},
        #{provinceCode},
        #{cityCode},
        #{district},
        #{isTop},
        #{isShalve},
        #{createTime},
        #{updateTime},
        #{detailAddress},
        #{schoolWeb},
        #{schoolFax},
        #{busRoad},
        #{userId}
    </sql>

    <sql id="page_where">
        <trim prefix="where" prefixOverrides="and | or ">
            <if test="schoolName != null and schoolName != ''">school_name=#{schoolName}</if>
            <if test="enrollmentType != null and enrollmentType != ''">enrollment_type=#{enrollmentType}</if>
            <if test="provinceCode != null and provinceCode != ''">province_code=#{provinceCode}</if>
            <if test="cityCode != null and cityCode != ''">city_code=#{cityCode}</if>
            <if test="district != null and district != ''">district=#{district}</if>
            <if test="isTop != null">is_top=#{isTop}</if>
            <if test="isShalve != null">is_shalve=#{isShalve}</if>
            <if test="createTime != null and createTime != ''">create_time=#{createTime}</if>
            <if test="updateTime != null and updateTime != ''">update_time=#{updateTime}</if>
            <if test="detailAddress != null and detailAddress != ''">detail_address=#{detailAddress}</if>
            <if test="schoolWeb != null and schoolWeb != ''">school_web=#{schoolWeb}</if>
            <if test="schoolFax != null and schoolFax != ''">school_fax=#{schoolFax}</if>
            <if test="busRoad != null and busRoad != ''">bus_road=#{busRoad}</if>
            <if test="userId != null">user_id =#{userId}</if>
        </trim>
    </sql>

    <insert id="insertRiseSchoolInfo" parameterType="com.yuxin.wx.model.riseschool.RiseSchoolManageVo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO rise_school_info (<include refid="table_columns" />)
        VALUES ( <include refid="table_properties" />)
    </insert>
    <update id="updateRiseSchoolInfo" parameterType="com.yuxin.wx.model.riseschool.RiseSchoolManageVo">
        UPDATE rise_school_info
        <trim prefix="set" suffixOverrides=",">
            <if test="schoolName != null and schoolName != ''">school_name=#{schoolName},</if>
            <if test="enrollmentType != null and enrollmentType != ''">enrollment_type=#{enrollmentType},</if>
            <if test="provinceCode != null and provinceCode != ''">province_code=#{provinceCode},</if>
            <if test="cityCode != null and cityCode != ''">city_code=#{cityCode},</if>
            <if test="district != null and district != ''">district=#{district},</if>
            <if test="isTop != null">is_top=#{isTop},</if>
            <if test="isShalve != null">is_shalve=#{isShalve},</if>
            <if test="createTime != null and createTime != ''">create_time=#{createTime},</if>
            <if test="updateTime != null and updateTime != ''">update_time=#{updateTime},</if>
            <if test="detailAddress != null and detailAddress != ''">detail_address=#{detailAddress},</if>
            <if test="schoolWeb != null and schoolWeb != ''">school_web=#{schoolWeb},</if>
            <if test="schoolFax != null and schoolFax != ''">school_fax=#{schoolFax},</if>
            <if test="busRoad != null and busRoad != ''">bus_road=#{busRoad},</if>
            <if test="userId != null">user_id =#{userId},</if>
        </trim>
        <where>id = #{id}</where>
    </update>
    <select id="queryRiseSchoolInfo" parameterType="com.yuxin.wx.model.riseschool.RiseSchoolManageVo" resultMap="riseSchoolInfoMap">
      SELECT <include refid="table_columns" />
        FROM rise_school_info
        <include refid="page_where" />
        ORDER BY is_top DESC ,update_time DESC
        limit #{firstIndex},#{pageSize}
    </select>
    <select id="queryRiseSchoolCount" parameterType="com.yuxin.wx.model.riseschool.RiseSchoolManageVo" resultType="java.lang.Integer">
        SELECT  count(*)
          FROM  rise_school_info
        <include refid="page_where" />
    </select>
    <select id="queryRiseSchoolDict" parameterType="Map" resultType="com.yuxin.wx.model.riseschool.SysDictVo">
        SELECT item_code,item_name
          FROM sys_rise_school_dict
         WHERE item_type = #{itemType}
         <if test="parentCode != null and parentCode != ''"> AND parent_code = #{parentCode}</if>
    </select>
</mapper>