<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxin.wx.riseschool.mapper.RiseSchoolManageMapper">
    <resultMap id="riseSchoolInfoMap" type="com.yuxin.wx.model.riseschool.RiseSchoolManageVo">
        <result property="id" column="id" />
        <result property="schoolName" column="school_name" />
        <result property="enrollmentType" column="enrollment_type" />
        <result property="provinceCode" column="province_code" />
        <result property="cityCode" column="city_code" />
        <result property="district" column="district" />
        <result property="isTop" column="is_top" />
        <result property="isShalve" column="is_shalve" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <result property="detailAddress" column="detail_address" />
        <result property="schoolWeb" column="school_web" />
        <result property="schoolFax" column="school_fax" />
        <result property="busRoad" column="bus_road" />
        <result property="userId" column="user_id" />
        <result property="collectNum" column="collect_num" />
        <result property="baseNum" column="base_num" />
        <result property="userName" column="userName" />
        <result property="enrollmentName" column="enrollmentName" />
        <result property="provinceName" column="provinceName" />
        <result property="cityName" column="cityName" />
        <result property="districtName" column="districtName" />
    </resultMap>
    <sql id="table_columns">
        id,
        school_name,
        enrollment_type,
        province_code,
        city_code,
        district,
        is_top,
        is_shalve,
        create_time,
        update_time,
        detail_address,
        school_web,
        school_fax,
        bus_road,
        user_id,
        collect_num,
        base_num,
        school_no
    </sql>
    <sql id="table_properties">
        #{id},
        #{schoolName},
        #{enrollmentType},
        #{provinceCode},
        #{cityCode},
        #{district},
        #{isTop},
        #{isShalve},
        #{createTime},
        #{updateTime},
        #{detailAddress},
        #{schoolWeb},
        #{schoolFax},
        #{busRoad},
        #{userId},
        #{collectNum},
        #{baseNum},
        #{schoolNo}
    </sql>

    <sql id="page_where">
            <if test="schoolName != null and schoolName != ''">and school_name=#{schoolName}</if>
            <if test="enrollmentType != null and enrollmentType != ''">and enrollment_type=#{enrollmentType}</if>
            <if test="provinceCode != null and provinceCode != ''">and province_code=#{provinceCode}</if>
            <if test="cityCode != null and cityCode != ''">and city_code=#{cityCode}</if>
            <if test="district != null and district != ''">and district=#{district}</if>
            <if test="isTop != null">and is_top=#{isTop}</if>
            <if test="isShalve != null">and is_shalve=#{isShalve}</if>
            <if test="createTime != null and createTime != ''">and create_time=#{createTime}</if>
            <if test="updateTime != null and updateTime != ''">and update_time=#{updateTime}</if>
            <if test="detailAddress != null and detailAddress != ''">and detail_address=#{detailAddress}</if>
            <if test="schoolWeb != null and schoolWeb != ''">and school_web=#{schoolWeb}</if>
            <if test="schoolFax != null and schoolFax != ''">and school_fax=#{schoolFax}</if>
            <if test="busRoad != null and busRoad != ''">and bus_road=#{busRoad}</if>
            <if test="userId != null">and user_id =#{userId}</if>
    </sql>

    <insert id="insertRiseSchoolInfo" parameterType="com.yuxin.wx.model.riseschool.RiseSchoolManageVo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO rise_school_info (<include refid="table_columns" />)
        VALUES ( <include refid="table_properties" />)
    </insert>
    <update id="updateRiseSchoolInfo" parameterType="com.yuxin.wx.model.riseschool.RiseSchoolManageVo">
        UPDATE rise_school_info
        <trim prefix="set" suffixOverrides=",">
            <if test="schoolName != null and schoolName != ''">school_name=#{schoolName},</if>
            <if test="enrollmentType != null and enrollmentType != ''">enrollment_type=#{enrollmentType},</if>
            <if test="provinceCode != null and provinceCode != ''">province_code=#{provinceCode},</if>
            <if test="cityCode != null and cityCode != ''">city_code=#{cityCode},</if>
            <if test="district != null and district != ''">district=#{district},</if>
            <if test="isTop != null">is_top=#{isTop},</if>
            <if test="isShalve == 1 or isShalve== 0">is_shalve=#{isShalve},</if>
            <if test="isShalve == 3">isHidden=1,</if>
            <if test="isShalve == 4">isHidden=0,</if>
            <if test="createTime != null and createTime != ''">create_time=#{createTime},</if>
            <if test="updateTime != null and updateTime != ''">update_time=#{updateTime},</if>
            <if test="detailAddress != null and detailAddress != ''">detail_address=#{detailAddress},</if>
            <if test="schoolWeb != null and schoolWeb != ''">school_web=#{schoolWeb},</if>
            <if test="schoolFax != null and schoolFax != ''">school_fax=#{schoolFax},</if>
            <if test="busRoad != null and busRoad != ''">bus_road=#{busRoad},</if>
            <if test="userId != null">user_id =#{userId},</if>
            <if test="collectNum != null">collect_num =#{collectNum},</if>
            <if test="baseNum != null">base_num =#{baseNum},</if>
            <if test="isTop == 1">top_time =NOW(),</if>
            <if test="isTop == 0">top_time =null,</if>
        </trim>
        <where>id = #{id}</where>
    </update>
    <update id="updateRiseSchoolInfoTwo" parameterType="com.yuxin.wx.model.riseschool.RiseSchoolManageVo">
        UPDATE rise_school_info
        <trim prefix="set" suffixOverrides=",">
            <if test="schoolName != null and schoolName != ''">school_name=#{schoolName},</if>
            <if test="enrollmentType != null and enrollmentType != ''">enrollment_type=#{enrollmentType},</if>
            <if test="provinceCode != null and provinceCode != ''">province_code=#{provinceCode},</if>
            <if test="cityCode != null and cityCode != ''">city_code=#{cityCode},</if>
            <if test="district != null and district != ''">district=#{district},</if>
            <if test="isTop != null">is_top=#{isTop},</if>
            <if test="isShalve != null">is_shalve=#{isShalve},</if>
            <if test="createTime != null and createTime != ''">create_time=#{createTime},</if>
            <if test="updateTime != null and updateTime != ''">update_time=#{updateTime},</if>
            <if test="detailAddress != null and detailAddress != ''">detail_address=#{detailAddress},</if>
            school_web=#{schoolWeb},
            school_fax=#{schoolFax},
            bus_road=#{busRoad},
            <if test="userId != null">user_id =#{userId},</if>
            <if test="collectNum != null">collect_num =#{collectNum},</if>
            <if test="baseNum != null">base_num =#{baseNum},</if>
        </trim>
        <where>id = #{id}</where>
    </update>
    <select id="queryRiseSchoolInfo" parameterType="com.yuxin.wx.model.riseschool.RiseSchoolManageVo" resultMap="riseSchoolInfoMap">
        SELECT rsi.id             AS id,
                rsi.school_name    AS school_name,
                rsi.enrollment_type AS enrollment_type,
                rsi.province_code  AS province_code,
                rsi.city_code      AS city_code,
                rsi.district       AS district,
                rsi.is_top         AS is_top,
                rsi.is_shalve      AS is_shalve,
                rsi.create_time    AS create_time,
                rsi.update_time    AS update_time,
                rsi.detail_address AS detail_address,
                rsi.school_web     AS school_web,
                rsi.school_fax     AS school_fax,
                rsi.bus_road       AS bus_road,
                rsi.user_id       AS user_id,
                rsi.collect_num   AS collect_num,
                rsi.base_num      AS base_num,
                uss.userName AS userName,
                srsdo.item_name AS enrollmentName,
                srsdp.item_name AS provinceName,
                srsdq.item_name AS cityName,
                srsdr.item_name AS districtName,
                rsi.isHidden
          FROM rise_school_info rsi
          INNER JOIN users uss ON uss.id = rsi.user_id
          INNER JOIN sys_rise_school_dict srsdo ON srsdo.item_code = rsi.enrollment_type
          INNER JOIN sys_rise_school_dict srsdp ON srsdp.item_code = rsi.province_code
          INNER JOIN sys_rise_school_dict srsdq ON srsdq.item_code = rsi.city_code
          INNER JOIN sys_rise_school_dict srsdr ON srsdr.item_code = rsi.district
            where 1=1
            <if test="schoolName != null and schoolName != ''">and rsi.school_name=#{schoolName}</if>
            <if test="enrollmentType != null and enrollmentType != ''">and rsi.enrollment_type=#{enrollmentType}</if>
            <if test="provinceCode != null and provinceCode != ''">and rsi.province_code=#{provinceCode}</if>
            <if test="cityCode != null and cityCode != ''">and rsi.city_code=#{cityCode}</if>
            <if test="district != null and district != ''">and rsi.district=#{district}</if>
            <if test="isTop != null">and rsi.is_top=#{isTop}</if>
            <if test="isShalve != null">and rsi.is_shalve=#{isShalve}</if>
            <if test="createTime != null and createTime != ''">and rsi.create_time=#{createTime}</if>
            <if test="updateTime != null and updateTime != ''">and rsi.update_time=#{updateTime}</if>
            <if test="detailAddress != null and detailAddress != ''">and rsi.detail_address=#{detailAddress}</if>
            <if test="schoolWeb != null and schoolWeb != ''">and rsi.school_web=#{schoolWeb}</if>
            <if test="schoolFax != null and schoolFax != ''">and rsi.school_fax=#{schoolFax}</if>
            <if test="busRoad != null and busRoad != ''">and rsi.bus_road=#{busRoad}</if>
            <if test="userId != null">and rsi.user_id =#{userId}</if>
            <if test="id != null">and rsi.id =#{id}</if>
        ORDER BY rsi.is_top DESC ,top_time desc,rsi.update_time DESC
        limit #{firstIndex},#{pageSize}
    </select>
    <select id="queryRiseSchoolCount" parameterType="com.yuxin.wx.model.riseschool.RiseSchoolManageVo" resultType="java.lang.Integer">
        SELECT  count(*)
          FROM  rise_school_info
          where 1=1
        <include refid="page_where" />
    </select>
    <select id="findSchoolNo" resultType="String">
        SELECT school_no from rise_school_info 
		ORDER BY school_no desc 
		LIMIT 0,1
    </select>
    <select id="queryRiseSchoolDict" parameterType="Map" resultType="com.yuxin.wx.model.riseschool.SysDictVo">
        SELECT id,item_code AS itemCode,item_name AS itemName,item_type AS itemType
          FROM sys_rise_school_dict
         WHERE item_type = #{itemType}
         <if test="parentCode != null and parentCode != ''"> AND parent_code = #{parentCode}</if>
    </select>
    <select id="querySchoolName" parameterType="Map" resultType="com.yuxin.wx.model.riseschool.SysDictVo">
        select  id as id,
				item_code AS itemCode,
				item_value AS itemName
        from sys_config_dict
		where dict_code = 'EDU_SCHOOL'
		and parent_item_id = (select id from sys_config_dict where item_code = #{registStatus})
		and item_value like concat('%',#{schoolName},'%')
    </select>
    <select id="searchUsers" parameterType="Map" resultType="com.yuxin.wx.model.user.UsersFront">
        SELECT uf.nick_name as nickName,uf.mobile as mobile 
        from users_front uf
        LEFT JOIN student s ON s.user_id = uf.id
        where (s.is_login_app = 1 or uf.regist_type = 4)
		and uf.mobile = #{mobile}
    </select>
    <select id="checkSchoolName" parameterType="String" resultType="Integer">
        select count(id) from rise_school_info
		where school_name = #{schoolName}
    </select>
    <select id="queryDimRiseSchoolInfo" parameterType="com.yuxin.wx.model.riseschool.SearchRiseSchoolVo" resultMap="riseSchoolInfoMap">
        SELECT rsi.id             AS id,
                rsi.school_name    AS school_name,
                rsi.enrollment_type AS enrollment_type,
                rsi.province_code  AS province_code,
                rsi.city_code      AS city_code,
                rsi.district       AS district,
                rsi.is_top         AS is_top,
                rsi.is_shalve      AS is_shalve,
                rsi.create_time    AS create_time,
                rsi.update_time    AS update_time,
                rsi.detail_address AS detail_address,
                rsi.school_web     AS school_web,
                rsi.school_fax     AS school_fax,
                rsi.bus_road       AS bus_road,
                rsi.user_id       AS user_id,
                rsi.collect_num   AS collect_num,
                rsi.base_num      AS base_num,
                uss.userName AS userName,
                srsdo.item_name AS enrollmentName,
                srsdp.item_name AS provinceName,
                srsdq.item_name AS cityName,
                srsdr.item_name AS districtName,
                case when rsi.top_time is null then 0 else rsi.top_time end as top_time,
                rsi.isHidden
          FROM rise_school_info rsi
          INNER JOIN users uss ON uss.id = rsi.user_id
          INNER JOIN sys_rise_school_dict srsdo ON srsdo.item_code = rsi.enrollment_type
          INNER JOIN sys_rise_school_dict srsdp ON srsdp.item_code = rsi.province_code
          INNER JOIN sys_rise_school_dict srsdq ON srsdq.item_code = rsi.city_code
          INNER JOIN sys_rise_school_dict srsdr ON srsdr.item_code = rsi.district
          WHERE 1 = 1
        <if test="schoolName != null and schoolName != ''"> AND rsi.school_name LIKE '%${schoolName}%'</if>
        <if test="provinceCode != null and provinceCode != ''"> AND  rsi.province_code = #{provinceCode}</if>
        <if test="cityCode != null and cityCode != ''"> AND rsi.city_code = #{cityCode}</if>
        <if test="district != null and district != ''">AND rsi.district = #{district}</if>
        <if test="isShalve != null">AND rsi.is_shalve = #{isShalve}</if>
        <if test="startTime != null and startTime != '' and endTime == ''"><![CDATA[AND DATE_FORMAT(rsi.create_time,"%Y-%m-%d") >= STR_TO_DATE(#{startTime},"%Y-%m-%d")]]></if>
        <if test="endTime != null and endTime != '' and startTime == ''">AND DATE_FORMAT(rsi.create_time,"%Y-%m-%d") = STR_TO_DATE(#{endTime},"%Y-%m-%d")</if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">AND DATE_FORMAT(rsi.create_time,"%Y-%m-%d") BETWEEN STR_TO_DATE(#{startTime},"%Y-%m-%d") AND STR_TO_DATE(#{endTime},"%Y-%m-%d")</if>
        <if test="isTop != null and isTop != 0">AND rsi.is_top = #{isTop}</if>
        <if test="enrollmentType != null and enrollmentType != 0">AND rsi.enrollment_type = #{enrollmentType}</if>
        ORDER BY rsi.is_top DESC,top_time desc ,rsi.update_time DESC
        limit #{firstIndex},#{pageSize}
    </select>
    <select id="queryDimRiseSchoolCount" parameterType="com.yuxin.wx.model.riseschool.SearchRiseSchoolVo" resultType="java.lang.Integer">
        SELECT  count(*)
        FROM  rise_school_info
        WHERE 1 = 1
        <if test="schoolName != null and schoolName != ''"> AND school_name LIKE '%${schoolName}%'</if>
        <if test="provinceCode != null and provinceCode != ''"> AND  province_code = #{provinceCode}</if>
        <if test="cityCode != null and cityCode != ''"> AND city_code = #{cityCode}</if>
        <if test="district != null and district != ''">AND district = #{district}</if>
        <if test="isShalve != null">AND is_shalve = #{isShalve}</if>
        <if test="startTime != null and startTime != '' and endTime == ''"><![CDATA[AND DATE_FORMAT(create_time,"%Y-%m-%d") >= STR_TO_DATE(#{startTime},"%Y-%m-%d")]]></if>
        <if test="endTime != null and endTime != '' and startTime == ''">AND DATE_FORMAT(create_time,"%Y-%m-%d") = STR_TO_DATE(#{endTime},"%Y-%m-%d")</if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">AND DATE_FORMAT(create_time,"%Y-%m-%d") BETWEEN STR_TO_DATE(#{startTime},"%Y-%m-%d") AND STR_TO_DATE(#{endTime},"%Y-%m-%d")</if>
    	<if test="isTop != null and isTop != 0">AND is_top = #{isTop}</if>
        <if test="enrollmentType != null and enrollmentType != 0">AND enrollment_type = #{enrollmentType}</if>
    </select>
    <select id="queryCurrentRiseSchoolInfo" parameterType="map" resultMap="riseSchoolInfoMap">
         SELECT rsi.id             AS id,
                rsi.school_name    AS school_name,
                rsi.enrollment_type AS enrollment_type,
                rsi.province_code  AS province_code,
                rsi.city_code      AS city_code,
                rsi.district       AS district,
                rsi.is_top         AS is_top,
                rsi.is_shalve      AS is_shalve,
                rsi.create_time    AS create_time,
                rsi.update_time    AS update_time,
                rsi.detail_address AS detail_address,
                rsi.school_web     AS school_web,
                rsi.school_fax     AS school_fax,
                rsi.bus_road       AS bus_road,
                rsi.user_id       AS user_id,
                rsi.collect_num   AS collect_num,
                rsi.base_num      AS base_num
          FROM rise_school_info rsi
          WHERE rsi.user_id = #{userId}
    </select>
    <select id="findSchoolById" parameterType="Integer" resultMap="riseSchoolInfoMap">
         SELECT rsi.id             AS id,
                rsi.school_name    AS school_name,
                rsi.enrollment_type AS enrollment_type,
                rsi.province_code  AS province_code,
                rsi.city_code      AS city_code,
                rsi.district       AS district,
                rsi.is_top         AS is_top,
                rsi.is_shalve      AS is_shalve,
                rsi.create_time    AS create_time,
                rsi.update_time    AS update_time,
                rsi.detail_address AS detail_address,
                rsi.school_web     AS school_web,
                rsi.school_fax     AS school_fax,
                rsi.bus_road       AS bus_road,
                rsi.user_id       AS user_id,
                rsi.collect_num   AS collect_num,
                rsi.base_num      AS base_num
          FROM rise_school_info rsi
          WHERE rsi.id = #{schoolId}
    </select>

    <select id="queryProvince" resultType="com.yuxin.wx.model.riseschool.SysDictVo">
        SELECT id,item_code AS itemCode,item_name AS itemName,item_type AS itemType
		FROM sys_rise_school_dict where item_type='PROVINCE'
    </select>
    <select id="queryCity" resultType="com.yuxin.wx.model.riseschool.SysDictVo">
      SELECT id,item_code AS itemCode,item_name AS itemName,item_type AS itemType ,parent_code as parentCode
		FROM sys_rise_school_dict where item_type='CITY'
    </select>
    <select id="queryDistrict" resultType="com.yuxin.wx.model.riseschool.SysDictVo">
      SELECT id,item_code AS itemCode,item_name AS itemName,item_type AS itemType ,parent_code as parentCode
		FROM sys_rise_school_dict where item_type='DISTRICT'
    </select>
</mapper>